.container{
    display: flex;
    justify-content: space-around;
    
}

.leftSection{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
}


